/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.github
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess.swp
/.htaccess
/config/broadcasting.php
/config/websockets.php
docker-compose.yml
Dockerfile
/nginx
/data
php.ini
public/settings.json
config/filesystems.php
