/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.github
.phpunit.result.cache
*.log
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess.swp
/.htaccess
docker-compose.yml
Dockerfile
/nginx
/data
php.ini
/public/settings.json
/public/images/app-logo.png
/config/theme.php
/config/laravel-ffmpeg.php
/config/filesystem.php