:root {
    --bs-breadcrumb-font-size: 14px;
    --ot-bg-secondary: #fff
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background: linear-gradient(90deg, #2d7dffb8 0%, #21c6fba8 100%);
    border-color: #337ab7
}


/*.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: linear-gradient(90deg, #2d7dffb8 0%, #21c6fba8 100%) !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    color: #fff;
    background: linear-gradient(90deg, #28eb92 0%, #06864b 100%) !important;
}*/

input:checked+.slider {
    background: linear-gradient(90deg, #2d7dffb8 0%, #21c6fba8 100%) !important;
}

.breadcrumb>li {
    display: inline-block;
    font-size: var(--bs-breadcrumb-font-size) - 2;

}
.content-header>.breadcrumb>li>a {
    color: #468dff !important;
    text-decoration: none;
    font-size: var(--bs-breadcrumb-font-size);
    display: inline-block;
}

.content-header>.breadcrumb>li+li:before {
    content: '/\00a0' !important;
}


.content-header{
    padding: 15px 20px !important;
    margin: 24px 16px !important;
    background-color: var(--ot-bg-secondary) !important;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.05)) !important;
    border-radius: 5px !important;
    /*padding: 28px;*/
    border: none !important;

}

.box {
    border-radius: 20px!important;
    padding: 15px;
    border-color: #eaeaea;
}

.skin-black-light .main-header>.logo{background-color:#edfbff !important;color:#222!important;}

.content-header>.breadcrumb{
    background: #edfbff!important;
}



.btn-success {
    /* background: linear-gradient(90deg, #28eb92 0%, #06864b 100%); */
    background: #FF9428 !important;
    /* background: linear-gradient(90deg, #2d7dffb8 0%, #21c6fba8 100%)!important; */
}
