/*
|--------------------------------------------------------------------------
| App SCSS File
|--------------------------------------------------------------------------
| This file is used to define the main styles for the application.
*/
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}
